.container{
    height:500px;
    width:500px;
    background-color: green;
    border:2px solid red;
    display:flex;
}
.box{
    border:2px solid orange;
    background-color: aqua;
    height:150px;
    width: 150px;
    margin:20px;
    transition:2s;
}
.box:hover{
    background-color: black;
}